body{
    background-color:hotpink ;
    color: darkviolet;
}
h3{
    background-color: lightseagreen ;
    color: white;
}
h1{
    background-color: lightseagreen;
    color: white;
}
div{
    border-color: darkviolet;
}